html,body{
    height: 100%;
}
footer{
    position: absolute;
    width: 100vw;
    bottom: 0;
}
.bg-light{
    background: #E8E8E8 !important;
    width: 100%;
    top: 0;
    position: fixed;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
    z-index: 10;
}
.mt-4 {
    margin-top: 7.5rem!important;
}
.list-group-item{
    background: #8E1E20;
}
.list-group-item>a{
    color: white;
}
.row{
    justify-content: center;
}
main{
    box-shadow: 1px 1px 5px rgba(180, 171, 171, 0.5);
}
thead tr th{
    color: #AC3230;
}
.modal-backdrop{
    z-index: 0 !important;
}
